.container
	.jumbotron
		h1 FiX
		p Welcome to FiX, the best app to learn Physics

	.raw
		.col-md-6
			div(ng-include="'/partials/partials/modulesPartial'")
		.col-md-6
			div(ng-include="'/partials/partials/featuredModulesPartial'")
