.container-fluid
	.raw
		.col-md-12
			h2 Total Questions: {{totalQuestions}}
			pagination.pagination-sm(total-items='totalItems', ng-model='currentPage', max-size='maxSize', boundary-links='true', rotate='false', num-pages='numPages')
	.raw
		.col-md-9
			p {{textTest}}
		.col-md-3
			.panel.panel-default.img-rounded.panel-body.text-justify
				p Current question: {{currentPage}}
			//.panel.panel-primary
				p Current question: {{currentPage}}