center
	p Total Questions: {{totalQuestions}}
	p Current question: {{currentPage}}
	button.btn.btn-primary(type='button', ng-click='getQuizScore()', tooltip="{{getStatusQuiz()}}", tooltip-placement="bottom")
		| Grade Me!