.container
	.jumbotron
		h1 FiX
		p Welcome to FiX, the best app to learn Physics

	.raw
		.col-md-6
			div(ng-include="'/partials/main/modules'")
		.col-md-6
			div(ng-include="'/partials/main/featuredModules'")
